@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* shared styles  */
*{
    margin: 0;
    padding: 0;
}
.font-inter{
    font-family: "Inter", serif;
}
.font-fleur{
    font-family: "Fleur De Leah", cursive;
}
.doc-body{
    background: rgb(17, 17, 17);
}
.primary-red-color{
    color: rgb(230, 83, 60);
}
.bg-primary-color{
    background-color: rgb(230, 83, 60);
    
}
.primary-text-white{
    color:rgb(255, 255, 255)
}
.primary-gray{
    color: rgba(255, 255, 255, 0.5);
}

/* navbar style  */
.navbar, .page-links{
    display: flex;
}
/* .play-icon */
.hamburg-menu, .join-btn-2, .img-run{
    display: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 50px 80px;
}
.page-links{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 10px 0 10px 3px;
}
.nav-lists{
    list-style: none;  
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-weight: 400;
}
.main-title{ 
   font-size: 2rem;
   font-weight: bold;
   font-style: italic;
}
.home-btn{
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    font-weight: 600;
}

/* banner styles  */
.banner{
    margin: 80px;
    display: flex;
    justify-content: space-between;
}
.text-body{
    width: 520px;
}
.banner-title{
    Font-weight: 900;
    Font-size: 5rem;
}
.banner-description{
    margin: 28px 0;
    Font-weight: 400;
    Font-size: 1rem;
}
.join-btn{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin-right: 10px;
}
.download-btn{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;   
}
.img-btn{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;  
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    width: 160px;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    margin-left: -110px;
    margin-top: -160px;
}
.round-shape{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btn-number{
    font-size: 1.5rem;
    font-weight: 900;
}
.btn-text, .btn-text-2{
    font-size: 1rem;
    font-weight: 400;
}
.img-btn-2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    padding: 10px;
    margin-left: 240px;
    margin-top: -380px;
    justify-items: center;   
}
.btn-number-2{
    font-size: 2.5rem;
    font-weight: 900;
}

/* change habit styles  */
.change-habits{
    margin: 180px 80px 100px 80px;
    /* border: 1px solid red; */
}
.title-container{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}
.image-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.card-image{
    width: 230px;
}
.gym-image{
    padding: 10px 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.image-description{
    text-align: center;
}

/* run extra mile styles */
.run-miles{
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
}
.miles-text-container{
    width: 440px;
    padding: 40px 55px;
}
.miles-text-container .miles-title{
    font-size: 3rem;
    font-weight: 900;
}
.miles-text-container .miles-description{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 30px;
}
.run-join-btn{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin-right: 10px;
}
.run-mile-img-container .img-run2{
    padding: 30px;
    width: 365px;
    border-radius: 18px;
}

/* responsive mobile  */
@media screen and (max-width:576px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        margin: 20px;   
    }
    .page-links, .join-btn, .img-run2{
        display: none;
    }
    /* .play-icon */
    .hamburg-menu, .join-btn-2, .img-run {     
        display: block;
    }
    .hamburg-menu img{
        width: 20px;
        height: 20px;
        filter: invert(100%);     
    }
    .banner{
        flex-direction: column;
        margin: 20px;
    }
    .text-body{
        width: 270px;
    }
    .banner-title{
        Font-weight: 900;
        Font-size: 2.5rem;
    }
    .banner-btn{
        display: flex;
    }
    .join-btn-2, .download-btn{
        width: 150px;
        font-size: 0.9rem;
        padding: 8px;
        font-weight: 600;
        border-radius: 42px;
        margin-right: 5px;
    }
    .join-btn-2{
        border: none;
    }
    .banner-img img{
        width: 270px;
    }
    .img-btn{
        width: 125px;
        height: 70px;
        margin-left: -10px;
        margin-top: -270px;
    }
    .btn-number, .btn-number-2{
        font-size: 1.2rem;
        font-weight: 900;
    }
    .btn-text, .btn-text-2{
        font-size: 0.8rem;
        font-weight: 400;
    }
    /* .play-icon{
        background-color: white;
    } */
    .round-shape{
        width: 30px;
        height: 30px;
    }
    .img-btn-2{
        width: 140px;
        height: 60px;
        padding: 10px 0;
        margin-left: 150px;
        margin-top: -200px;
        justify-items: center;
    }
    .change-habits{
        margin: 400px 20px 100px;      
    }
    .title-container{
        width: 280px;
        text-align: center;
        margin: 0 auto;
    }
    .image-container{
        margin: 20px;
        flex-direction: column;
    }
    .card-image{
        width: 230px;  
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }
    .gym-image{ 
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
    .run-miles{
        margin: 20px;
        width: 280px;
        flex-direction: column;
    }
    .miles-text-container{
        width: 250px;
        padding: 15px 15px 0 15px;
        
    }
    .miles-text-container .miles-title{
        font-size: 2rem;
        font-weight: 900;
    }
    .miles-text-container .miles-description{
        font-size: 0.8rem;
        font-weight: 400; 
    }
    .run-join-btn{
        width: 240px;
        padding: 16px 40px 16px 40px;
        border-radius: 42px;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        
    }
    .run-mile-img-container .img-run{
        border-radius: 18px; 
        margin-top: 30px;
        margin-left: 15px;
        margin-bottom: 30px;
        width: 240px;     
    }

}